html {
  display: flex;
  justify-content: center;
}
h1 {
  text-align: center;
}

button {
  margin: 5px;
}

button:hover {
  filter: drop-shadow(0 0 1em #d6dde3aa);
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input {
  margin: 10px;
}

.ip1 {
  width: 60%;
}